[Desktop Entry]
Name=iMX Camera
Exec=/usr/share/qt5/examples/multimedia/imxcamera/imxcamera
Icon=imxcamera
Terminal=false
Type=Application
X-MB-SingleInstance=true
Comment=i.MX Camera App 
StartupNotify=false
